<!DOCTYPE html>
<html>
<head>
  <title>Dashboards | Status</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <% dashboards.forEach(function(dashboard){ %>
      <h4>
        <% if (dashboard.responseType === 'success') {
            %> <i class="fa fa-check-circle success"></i> <%
          } else {
            %> <i class="fa fa-exclamation-circle fail"></i> <%
          }
        %>
        <%= dashboard.name %>
      </h4>
      <div>
        Home page: <a href="<%= dashboard.url %>"><%= dashboard.url %></a>
      </div>
      <div>
        API Test: <a href="<%= dashboard.api %>">api test url</a>
      </div>
      <div class="responseType">
        API Response Type: 
        <span class="<%= dashboard.responseType %>">
          <%= dashboard.statusCode %>
          <%= dashboard.responseType %>
        </span>
      </div>
      <div class="responseTime">
        API Response Time: <%= dashboard.responseTime %> ms
      </div>
    <% }) %>
  </div>
</body>
</html>